{{ user | json }}
<div class="container">
  <form #userForm action="">
    <div class="form-group">
      <label for="firstName">Имя:</label>
      <input #spy #firstname="ngModel" required type="text" [(ngModel)]="user.firstname" name="firstname" class="form-control" id="firstName">
      <div class="alert alert-danger" [hidden]="firstname.valid || firstname.pristine">
        Поле 'Имя' обязательно для заполнения
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Фамилия:</label>
      <input type="text" [(ngModel)]="user.lastname" name="lastname" class="form-control" id="lastName">
    </div>
    {{ spy.className }}
    <button type="submit" class="btn btn-success">Сохранить</button>
    <button type="button" (click)="onCleanButtonClick(); userForm.reset()" class="btn btn-light">Очистить</button>
  </form>
</div>