<div class="container">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm" action="">
    <div class="form-group">
      <label for="firstName">Имя:</label>
      <input #spy #firstname="ngModel" required type="text" [(ngModel)]="user.firstname" name="firstname" class="form-control" id="firstName">
      <div class="alert alert-danger" [hidden]="firstname.valid || firstname.pristine">
        Поле 'Имя' обязательно для заполнения
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Фамилия:</label>
      <input type="text" [(ngModel)]="user.lastname" name="lastname" class="form-control" id="lastName">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="userForm.form.invalid">Сохранить</button>
    <button type="reset" (click)="onCleanButtonClick();" class="btn btn-light">Очистить</button>
  </form>
</div>