{{ user | json }}
<div class="container">
  <form action="">
    <div class="form-group">
      <label for="firstName">Имя:</label>
      <input #spy type="text" [(ngModel)]="user.firstname" name="firstname" class="form-control" id="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Фамилия:</label>
      <input type="text" [(ngModel)]="user.lastname" name="lastname" class="form-control" id="lastName">
    </div>
    {{ spy.className }}
    <button type="submit" class="btn btn-success">Сохранить</button>
  </form>
</div>